@import "./styleguide.scss";

#intro {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transition: opacity 1s;
  background-color: black;
  z-index: 300;

  &.fadeOut {
    opacity: 0;
  }

  .greeting {
    @include posCenter;

    width: 100%;
    height: 100%;
    background-color: black;
    transition-delay: 4s;
    transition: opacity 1s;
    &.fadeOut {
      opacity: 0;
    }

    > p {
      @include posCenter;

      width: 100%;
      text-align: center;
      opacity: 0;
      color: white;
      animation-name: fade;
      animation-duration: 2s;

      &:last-of-type {
        animation-delay: 3s;
      }
    }
  }

  .door {
    position: relative;
    width: 100%;
    height: 100%;
    color: #fafcd0;
    font-family: "NanumSquare", sans-serif;
    background-color: black;

    > img {
      @include posCenter;

      width: 100%;
      min-width: 100%;
      min-height: 100%;
      transform: translate(-50%, -50%) scale(1.2);
      filter: url(#waveBg);
    }

    .textBox {
      @include posCenter;
      text-align: center;

      > span {
        font-family: "Amatic SC", cursive;
        font-size: 3em;
        color: #554f5d;
      }
      h2 {
        font-family: "Amatic SC", cursive;
        font-size: 14em;
      }

      p {
        letter-spacing: 1.6em;
      }
      button {
        padding: 10px 20px;
        box-sizing: border-box;
        color: white;
        background-color: #0d161c;
        border-radius: 4px;
        position: absolute;
        top: 110%;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
