@import "./styleguide.scss";

#intro {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transition: top 1s;
  background-color: black;
  z-index: 300;

  &.fadeOut {
    top: -150%;
  }

  .greeting {
    @include posCenter;

    width: 100%;
    height: 100%;
    background-color: black;
    transition-delay: 4s;
    transition: opacity 1s;
    letter-spacing: 0.01em;
    span {
      margin-top: 4px;
      font-weight: bold;
      display: block;
    }
    &.fadeOut {
      opacity: 0;
    }

    > p {
      @include posCenter;

      width: 100%;
      text-align: center;
      opacity: 0;
      color: white;
      animation-name: fade;
      animation-duration: 2s;

      &:last-of-type {
        animation-delay: 3s;
      }
    }
  }

  .door {
    position: relative;
    width: 100%;
    height: 100%;
    color: #fafcd0;
    font-family: "Helvetica Neue", "NanumSquare", sans-serif;
    background-color: black;

    > img {
      @include posCenter;

      width: 100%;
      min-width: 100%;
      min-height: 100%;
      transform: translate(-50%, -50%) scale(1.2);
    }

    .textBox {
      @include posCenter;
      text-align: center;

      > span {
        font-family: "Amatic SC", cursive;
        font-size: 3em;
        color: #554f5d;
      }
      h2 {
        font-family: "Amatic SC", cursive;
        font-size: 14em;
      }

      p {
        letter-spacing: 1.6em;
      }
      button {
        color: #111;
        position: absolute;
        top: 110%;
        left: 50%;
        transform: translateX(-50%);
        border: 2px solid white;
        border-radius: 4px;
        span {
          padding: 6px 20px;
          border: 2px solid #111;
          color: #111;
          display: block;
          background-color: white;
          width: 100%;
          letter-spacing: -0.05em;
        }
      }
    }
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
